
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Custom
@media (min-width: 1200px){
	.body-container {
	    width: 100%;
	}
}

.panel .page-header,
.panel .page-header h1,
.panel .page-header h2,
.panel .page-header h3,
.panel .page-header h4,
.panel .page-header h5,
.panel .page-header h6
{
	margin-top: 0;
	margin-bottom: 5px;
}

.modal .answers .checkbox label{ margin-bottom: 3px; width: 100% }
.modal .answers .checkbox input[type="checkbox"]{
	margin-top: 12px;
}

.navbar-header .new-question{
	position: relative;
    float: right;
    margin: 7px;
}